@model TrackOrderVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Express Kargo Takip - @Model.TrackNumber</title>
    <link href="~/trackpage/css/site.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background-color: #f8f9fd;">
    <div class="row">
        <div class="container  px-md-2">
            <h6 class="display-4 mt-5 text-center"><a style="color:#ed563b;" href="@Url.Action("Index","Home")">Express Kargo</a> Takip</h6>
            <hr />
            <div class="card">
                <div class="row d-flex justify-content-between top">
                    <div class="d-flex">
                        <h5>Takip No: <span class="text-primary font-weight-bold">@Model.TrackNumber</span></h5>
                    </div>
                    <div class="d-flex flex-column text-sm-right">
                        <p class="mb-0"><strong>Kayıt Tarihi: </strong><span>@Model.OrderDate.ToString("dd.MM.yyyy HH:mm")</span></p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <ul id="progressbar" class="text-center">
                            @switch (Model.StatusID)
                            {
                                case 1:
                                    <li class="active step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    break;
                                case 2:
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    break;
                                case 3:
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    break;
                                case 4:
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="step0"></li>
                                    break;
                                case 5:
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    <li class="active step0"></li>
                                    break;
                            }
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-between top">
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Çıkış<br />Şubesinde</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Yola<br />Çıktı</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/GiWFtVu.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Varış<br />Şubesinde</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Teslimatta</p>
                        </div>
                    </div>
                    <div class="row d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Teslim<br />Edildi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-center">Gönderi Bilgileri</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p><strong>Gönderici Adı: </strong>@Model.SenderName</p>
                                    <p><strong>Çıkış Şubesi: </strong>@Model.SenderDistrict.DistrictName/@Model.SenderDistrict.City.CityName</p>
                                    <p><strong>Gönderi Türü: </strong>@Model.Size.SizeName</p>
                                    <p><strong>Gönderi Ücreti: </strong>@Model.Price ₺</p>
                                </div>
                                <div class="col">
                                    <p><strong>Alıcı Adı: </strong>@Model.ReceiverName</p>
                                    <p><strong>Varış Şubesi: </strong>@Model.ReceiverDistrict.DistrictName/@Model.ReceiverDistrict.City.CityName</p>
                                    <p><strong>Gönderim Adresi: </strong>@Model.ShippingAddress @Model.ReceiverDistrict.DistrictName/@Model.ReceiverDistrict.City.CityName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-center">Gönderi Aşamaları</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Tarih</th>
                                    <th>İşlem</th>
                                </tr>
                                <tbody>
                                    @foreach (var stage in Model.Stages)
                                    {
                                        <tr>
                                            <td>@stage.StatusDate.ToString("dd.MM.yyyy") @stage.StatusDate.ToString("HH:mm")</td>
                                            <td>@stage.Status.StatusName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
