@using System.Security.Claims
@{
    ViewData["Title"] = "Express Kargo - Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var username = User.FindFirstValue(ClaimTypes.Name);
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-action">
                Şifre Değiştir
            </div>
            <div class="card-content">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" value="Aktif Şube: @username" disabled>
                        </div>

                    </div>
                </form>

                <form class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="OldPassword" type="password" class="validate">
                            <label for="OldPassword">Mevcut Şifre</label>
                            @Html.ValidationMessage("OldPassword", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="NewPassword" type="password" class="validate">
                            <label for="NewPassword">Yeni Şifre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="NewPasswordControl" type="password" class="validate">
                            <label for="NewPasswordControl">Yeni Şifre (Tekrar)</label>
                        </div>
                    </div>
                    <div class="switch text-center">
                        <a href="@Url.Action("Index","Admin")" class="waves-effect waves-red btn-large btn-danger">İptal</a>
                        <button type="submit" class="waves-effect waves-light btn-large ">Kaydet</button>
                    </div>
                </form>
                <div class="clearBoth"></div>

                @if (ViewBag.PasswordMesage != null)
                {
                    <br />
                    <div class="alert alert-danger mt-3 text-center">
                        @ViewBag.PasswordMesage
                    </div>
                }
                else if (ViewBag.PasswordMesageOK != null)
                {
                    <br />
                    <div class="alert alert-success mt-3 text-center">
                        @ViewBag.PasswordMesageOK
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("Index","Admin")" class="waves-effect waves-light btn btn btn-primary">Ana Sayfaya Dön</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
